<div class="qa-items">
    {% if items %}
        {% for qa in items | reverse %}
        <div class="qa-item">
            <a href="/qa/{{ qa._index }}" class="qa-link">
                <div class="qa-preview">
                    <span class="qa-index">#{{ qa._index + 1 }}</span>
                    <span class="qa-query">{{ qa.query[:80] }}...</span>
                </div>
            </a>
        </div>
        {% endfor %}
    {% else %}
    <div class="qa-item empty">
        no qa pairs generated yet
    </div>
    {% endif %}
</div>
